body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.font-text{
    font-size: 2em;
}
.navbar-section{
    width: 100%;
}
.app-navbar-info{
    background-color: #c5ae01;
    height: 2.5625rem;
}


.header-fixed{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 3;
    height: 2.5625rem;
}
.navbar-main{


    width: 100%;

}
.app-img{
    height: 3em;
}
.navbar-nav{
    margin-left:auto;
}
.nav-link{
    color: white;
    font-weight: 600;
    font-size: 20px;

}

.app-link-footer{
    display: flex;
    flex-direction: row;
}
.app-link-footer > span{
   font-size: 0.9em;
}

.video-hero{
    object-fit: cover;
    height: 45rem;
    width: 100%;


    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(.4);
}


.background-medium{

    background-color: white;

}
.app-about{
    display: block;
    font-size: 1.7rem;
    color: #836408;
}
.medium-img{
    border-radius: 10px;
    border: 2px solid #8b8b8b;
    height: 20rem;
    width: 100%;
}
.item:hover{
    filter: sepia(0.9);

}
.img-header{
    filter: brightness(0) invert(1);
}

.item {
    color: white;
    transition: filter linear 100ms;
    filter:  brightness(0) invert(1);
}
.container-hero {
    padding-top: 5rem;
}
.section-hero {
    position: absolute;
    top: 40%;
    left: 20%;
}
.app-font {
    width: 34.8125rem;
    height: 9.5rem;
    margin-left: 9.4375rem;
}
.app-main {
    font-weight: bold;
    font-size: 3rem;
}
.aside-hero {
    position: absolute;
    width: 27.75rem;
    height: 21.125rem;
    left: 50%;
    border: 2px solid #c76102;
    border-radius: 10px;
    padding-top: 18rem;
    padding-left: 17.5rem;
}
.btn-warning {
    width: 13rem;
    color: white;
    border-radius: 10px;
}
.rectangle {
    position: absolute;
    width: 640px;
    height: 17px;
    left: 0px;
    top: 55%;

    background: linear-gradient(90deg, #CD9B28 -1.95%, rgba(205, 155, 40, 0) 108.75%);
}
.img-service{
    height: 30rem !important;
    border-radius: 2rem;

}
.app-medium{
    padding-top: 30rem;

}
.app-carrers{
    padding: 1rem;
}
.img-benefits {
    width: 2rem;
    filter: brightness(0) invert(1);



}
.container-benefits{
    border-radius: 0.6rem;
    padding: 1rem;
    background-color: #c69500;
}
.btn-choose{
    width: 8em;
    border-radius: 10px;
    font-size: 1.2rem;
    padding-top: 0.2rem;
}

.btn-about{
    width: 8em;
    border-radius: 10px;
    font-size: 1.2rem;
    padding-top: 0.2rem;
}
.contain-choose{

    background-image: url("../assets/ABOUT.jpg");

    background-size: auto auto;
    box-shadow: inset 0 0 0 1000px rgb(4,47, 100, 0.4);
    border-radius: 2rem;


    margin-top: 4rem;
    width: 90%;
    height: 28.3125rem;


}
.text-choose{
    background-color: rgba(255,200,0,0.4);
    border-radius: 2rem;
    width: 9.125rem ;
    height: 32.5rem;
    margin-top: -2rem;
}
.media-body {
    margin-right: 1rem;
    color: rgba(0, 0, 0, 0.58);
}
.center-text{
    display: flex;
   flex-direction: column;
}
.carousel-inner {
    border-radius: 3rem;
}
.app-carousel {
    display: inline-block;
    color: #755705;
    padding-left: 8rem;
    padding-top: 5rem;
}
.fond-carousel {
    position: absolute;
    width: 200%;
    height: 70%;
    right: 0;
    left: 0;
    border-radius: 4rem;

    background: linear-gradient(90.04deg, #504F4F 0.03%, rgba(103, 103, 103, 0.67) 99.96%);
}
.item-carousel{
    padding-top: 4rem;

}
.text-body{
    padding-top: 4rem;
    color: rgba(0, 0, 0, 0.58);
    margin-left: 2rem;
}


.app-subscribe{
    position: center;
    font-size: 3rem;
    padding: 2rem;
    color: #755705;
}
.contain-subscribe{
    padding: 3rem;
    text-align: center;
    background: url("../assets/SILUETA2.png") 90% no-repeat, url("../assets/SILUETA.png") 10% no-repeat;

}

.contents-services{
    background-image: url("../assets/BACKGROUND SERVICES.jpg");
    background-repeat: no-repeat;
    background-position: 140%;
    background-size: 150%;
}
.background-img{
    position: absolute;
    opacity: 0.2;
    left: -13%;
    width: 60%;
}
.button-orange{
    color: #755705;
    background-color: #c69500;
    font-size: 1.8rem;
    padding-top: 0rem;

}
.input-subscribe{
    display:inline-block;
    width:35%;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    border-radius:.25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.container > img {
    mso-border-shadow: yes;
    border-color: #c76102 ;
}
.contain-about{
    background-image: linear-gradient(105deg, rgb(68, 68, 68) 25%, rgb(100, 100, 100) 130%);

    padding: 5rem;

}

.contain-footer{
    background-image: linear-gradient(105deg, rgb(32,33,39) 25%, rgb(197,186,172) 130%);
    border-top-right-radius: 10% 30%;
    border-top-left-radius: 10% 30%;
    margin-top: 0.5rem;
    padding: 4rem;
}
.item-footer{
    color: white;
    transition: filter linear 100ms;
    filter:  brightness(0) invert(1);
}
.title-footer{
    color: rgb(242,197,82);
}
.img-footer {
    width: 100%;
    height:10rem;


}

.app-footer{
    background-color: #c69500;
    border-radius: 7px;
    margin: 0 0.4rem;
    padding-left:0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.2rem;
}

.contain-footer-last{
    background-color: black;
}

.video-item {
    position: center;
    margin-bottom: 2rem;
}

/*
<svg width=”400″ height=”110″ class="rectangle">

        <rect width=”500″ height=”200″  />
    </svg>
    <svg  class="rectangle2">
        <rect/>
    </svg>
 */


.content-service{

    padding: 0 4rem
}
.number_legal{
    background-color: #755705;
    color:white;
    padding: 0.8rem;
    border-radius: 0.5rem;

}

.background-carousel{
    background: linear-gradient(#38393a, #4e555b, #696e73);
    width: 20%;
    position: absolute;
    left: 77%;
    height: 91%;
    border-radius: 0 0 1rem 1rem;

}



.app-navbar-info{
    background-color: #c5ae01;
    height: 2.5625rem;
}


.header-fixed{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 3;
    height: 2.5625rem;
}
.navbar-main{


    width: 100%;

}
.background-header{
    background-color:   rgba(198,149,0,0.4);

}
.app-img{
    height: 3em;
}
.navbar-nav{
    margin-left:auto;
}
.nav-link{
    color: white;
    font-weight: 600;
    font-size: 20px;

}

.app-link-footer{
    display: flex;
    flex-direction: row;
}
.app-link-footer > span{
   font-size: 0.9em;
}

.video-hero{
    object-fit: cover;
    height: 45rem;
    width: 100%;


    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(.4);
}

@media (max-width: 600px){

   .background-carousel{
       display: none;
   }

    .text-choose{
        position: absolute;
        background-color: rgba(173, 156, 95, 0.4);
        border-radius: 2rem;
        width: 100%;
    }


}


.background-medium{

    background-color: white;

}
.app-about{
    display: block;
    font-size: 2.5rem;
    color: #836408;
}
.medium-img{
    border-radius: 10px;
    border: 2px solid #8b8b8b;
    height: 20rem;
    width: 100%;
}
.item:hover{
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);

}

.item {
    color: white;
    transition: filter linear 100ms;
    filter:  brightness(0) invert(1);
}
.container-hero {
    padding-top: 5rem;
}
.section-hero {
    position: absolute;
    top: 35%;
    left: 15%;
    font-family: 'Playfair Display', Serif ;
}

.font{
    font-family: 'Playfair Display', Serif;
}
.font-dos{
    font-size: 1em;
    font-family: 'Barlow', sans-serif;
}

.btn-warning {
    width: 13rem;
    color: white;
    border-radius: 10px;
}
.rectangle {
    position: absolute;
    width: 640px;
    height: 17px;
    left: 0px;
    top: 55%;

    background: linear-gradient(90deg, #CD9B28 -1.95%, rgba(205, 155, 40, 0) 108.75%);
}
.img-service{
    height: 30rem !important;
    border-radius: 2rem;

}
.app-medium{
    padding-top: 30rem;

}
.app-carrers{
    padding: 1rem;
}
.img-benefits {
    width: 2rem;
    filter: brightness(0) invert(1);



}
.contents-benefits{
    background-image: url("../assets/BACKGROUND-BENEFITS.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
.container-benefits{
    border-radius: 0.6rem;
    padding: 1rem;
    background-color: #c69500;
}
.contain-choose{

    background-image: url("../assets/ABOUT.jpg");

    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgb(4,47, 100, 0.4);
    border-radius: 2rem;


    margin-top: 4rem;
    width: 90%;
    height: 28.3125rem;


}
.text-choose{
    background-color: rgba(255,200,0,0.4);
    border-radius: 2rem;
    width: 60% ;
    height: 32.5rem;
    margin-top: -2rem;
}
.media-body {
    margin-right: 1rem;
    color: rgba(0, 0, 0, 0.58);
}
.center-text{
    display: flex;
   flex-direction: column;
}
.carousel-inner {
    border-radius: 3rem;


}
.app-carousel {
    display: inline-block;
    color: #755705;
    padding-left: 8rem;
    padding-top: 5rem;
}
.fond-carousel {
    position: absolute;
    width: 200%;
    height: 70%;
    right: 0;
    left: 0;
    border-radius: 4rem;

    background: linear-gradient(90.04deg, #504F4F 0.03%, rgba(103, 103, 103, 0.67) 99.96%);
}
.item-carousel{
    padding-top: 4rem;

}
.text-body{
    padding-top: 4rem;
    color: rgba(0, 0, 0, 0.58);
    margin-left: 2rem;
}


.app-subscribe{
    position: center;
    font-size: 3rem;
    padding: 2rem;
    color: #755705;
}
.contain-subscribe{
    padding: 3rem;
    text-align: center;
    background: url("../assets/SILUETA2.png") 90% no-repeat, url("../assets/SILUETA.png") 10% no-repeat;

}

.contents-services{
    background-image: url("../assets/BACKGROUND-SERVICES.png");
    background-repeat: no-repeat;
    background-position: 140%;
    background-size: 150%;
}
.background-img{
    position: absolute;
    opacity: 0.2;
    left: -13%;
    width: 60%;
}
.input-subscribe{
    display:inline-block;
    width:35%;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    border-radius:.25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.container > img {
    mso-border-shadow: yes;
    border-color: #c76102 ;
}
.contain-about{
    background-image: linear-gradient(105deg, rgb(68, 68, 68) 25%, rgb(100, 100, 100) 130%);

    padding: 5rem;

}

.contain-footer{
    background-image: linear-gradient(105deg, rgb(32,33,39) 25%, rgb(197,186,172) 130%);
    border-top-right-radius: 10% 30%;
    border-top-left-radius: 10% 30%;
    margin-top: 0.5rem;
    padding: 4rem;
}
.item-footer{
    color: white;
    transition: filter linear 100ms;
    filter:  brightness(0) invert(1);
}
.title-footer{
    color: rgb(242,197,82);
}
.img-footer {
    width: 100%;
    height:10rem;


}

.app-footer{
    background-color: #c69500;
    border-radius: 7px;
    margin: 0 0.4rem;
    padding-left:0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.2rem;
}

.contain-footer-last{
    background-color: black;
}
.img-cont {
    height: 30.1875rem;
    width: 100%;
    border-radius: 2rem;
    box-shadow: -5px 8px 5px 6px #755705;
}
.video-item {
    position: center;
    margin-bottom: 2rem;
}

/*
<svg width=”400″ height=”110″ class="rectangle">

        <rect width=”500″ height=”200″  />
    </svg>
    <svg  class="rectangle2">
        <rect/>
    </svg>
 */


.content-service{

    padding: 0 4rem
}
.number_legal{
    background-color: #755705;
    color:white;
    padding: 0.8rem;
    height: 3rem;
    border-radius: 0.5rem;

}

.background-carousel{
    background: linear-gradient(#38393a, #4e555b, #696e73);
    width: 20%;
    position: absolute;
    left: 77%;
    height: 59%;
    border-radius: 0 0 1rem 1rem;

}

.nav-link:hover{
    color: #c69500;
}




body {
    background-color: #eee;
}
.btn {
    border: 0;
    margin: 10px 4px;
}
.btn:active:focus,
.btn:focus:hover,
.btn:focus {
    -moz-outline-style: none;
    outline: medium none;
}
.btn-3d {
    position: relative;
    top: -6px;
    border: 0;
    transition: all 40ms linear;
    margin: 10px 4px;
}
.btn-3d:active:focus,
.btn-3d:focus:hover,
.btn-3d:focus {
    -moz-outline-style: none;
    outline: medium none;
}
.btn-3d:active,
.btn-3d.active {
    top: 0;
}
.btn-3d.btn-white {
    background-color: #fff;
    color: #666666;
    box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 6px 0 0 #f5f5f5, 0 6px 1px 1px rgba(0, 0, 0, 0.3), 0 8px 8px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 0 -1px 1px #f5f5f5;
}
.btn-3d.btn-white:active,
.btn-3d.btn-white.active {
    background-color: #fff;
    color: #666666;
    box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 1px 1px 0px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.btn-3d.btn-default {
    background-color: #f9f9f9;
    color: #a8752f;
    box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 6px 0 0 #BEBEBE, 0 6px 1px 1px rgba(0, 0, 0, 0.3), 0 8px 8px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 0 -1px 1px #BEBEBE;
}
.btn-3d.btn-default:active,
.btn-3d.btn-default.active {
    background-color: #f9f9f9;
    color: #666;
    box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 1px 1px 0px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.btn-3d.btn-primary {
    background-color: #337ab7;
    color: #fff;
    box-shadow: 0 0 0 1px #2a6597 inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 6px 0 0 #285f8f, 0 6px 1px 1px rgba(0, 0, 0, 0.3), 0 8px 8px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 0 -1px 1px #285f8f;
}
.btn-3d.btn-primary:active,
.btn-3d.btn-primary.active {
    background-color: #337ab7;
    color: #fff;
    box-shadow: 0 0 0 1px #2a6597 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 1px 1px 0px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.btn-3d.btn-success {
    background-color: #5cb85c;
    color: #fff;
    box-shadow: 0 0 0 1px #47a447 inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 6px 0 0 #449d44, 0 6px 1px 1px rgba(0, 0, 0, 0.3), 0 8px 8px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 0 -1px 1px #449d44;
}
.btn-3d.btn-success:active,
.btn-3d.btn-success.active {
    background-color: #5cb85c;
    color: #fff;
    box-shadow: 0 0 0 1px #47a447 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 1px 1px 0px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.btn-3d.btn-info {
    background-color: #5bc0de;
    color: #fff;
    box-shadow: 0 0 0 1px #39b3d7 inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 6px 0 0 #31b0d5, 0 6px 1px 1px rgba(0, 0, 0, 0.3), 0 8px 8px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 0 -1px 1px #31b0d5;
}
.btn-3d.btn-info:active,
.btn-3d.btn-info.active {
    background-color: #5bc0de;
    color: #fff;
    box-shadow: 0 0 0 1px #39b3d7 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 1px 1px 0px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.btn-3d.btn-warning {
    background-color: #d9a74d;
    color: #fff;
    box-shadow: 0 0 0 1px #d9a74d inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 6px 0 0 #9f793e, 0 6px 1px 1px rgba(0, 0, 0, 0.3), 0 8px 8px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 0 -1px 1px #c28d42;
}
.btn-3d.btn-warning:active,
.btn-3d.btn-warning.active {
    background-color: #daa457;
    color: #fff;
    box-shadow: 0 0 0 1px #e5a344 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 1px 1px 0px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.btn-3d.btn-danger {
    background-color: #d9534f;
    color: #fff;
    box-shadow: 0 0 0 1px #d2322d inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 6px 0 0 #c9302c, 0 6px 1px 1px rgba(0, 0, 0, 0.3), 0 8px 8px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 0 -1px 1px #c9302c;
}
.btn-3d.btn-danger:active,
.btn-3d.btn-danger.active {
    background-color: #d9534f;
    color: #fff;
    box-shadow: 0 0 0 1px #d2322d inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 1px 1px 0px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.btn-3d.btn-custom {
    background-color: grey;
    color: #fff;
    box-shadow: 0 0 0 1px #6c6c6c inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 6px 0 0 #676767, 0 6px 1px 1px rgba(0, 0, 0, 0.3), 0 8px 8px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 0 -1px 1px #676767;
}
.btn-3d.btn-custom:active,
.btn-3d.btn-custom.active {
    background-color: grey;
    color: #fff;
    box-shadow: 0 0 0 1px #6c6c6c inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 1px 1px 0px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.button-subscribe{
    width: 20%;
    padding-top: 0.2rem;

    font-size: 1.2rem;

}
